body,html {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}

.clr {
    clear: both;
}

.main-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    

}
.bottom-wrapper {
    box-sizing: border-box;
   display: flex;
   justify-content: center;
}

.img-wrapper img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}
img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.text {
    display: list-item block;
    align-items: flex-end;
    margin-right: 18%;
}

.text1 {
    font-weight: bold;
    font-weight: 700;

}

.text2 {
    color: darkgray;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.bottom-wrapper {
    margin: -20px 598px 50px 598px;
    border: 1px solid darkgrey;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.18);
    border-bottom-left-radius: 8px ;
    border-bottom-right-radius: 8px;
}
.count, .date, .bottom {
    display: inline-flex;
    justify-content: space-between;
    color: darkgray;
    
}